<div class="card mb-3">
  <div class="card-body">
    <p class="card-text">The WLCB was not a book club. These women were writers, and determined to see their works in print. This site features over 1100 publications produced by the 300-odd members of the WLCB—and more are being added as they are rediscovered. </p>
    <p class=card-text">Established in 1890, the WLCB provided a place for aspiring novelists, poets, composers, and playwrights to share their work and their dreams. The Club's members ranged across the social and political spectrum, including suffragettes and society wives, teachers and journalists, Confederate sympathizers and descendants of abolitionists, Protestants and Catholics. No Black women, however, were admitted, despite the thriving African American community in Baltimore of the time.</p>
  </div>
</div>
