---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">
   {% include index/description.html %}
  </div>

  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="creator" title="Writers" btn-color="info" %}

  </div>
  
  <div class="col-md-12">
    
    <p>Members shared their writings at weekly meetings, which were held without interruption for over 50 years between 1890 and 1941. The goings-on of these meetings has been reconstructed based on the thousands of pages of detailed minutes and meeting programs that have been preserved, transcribed, and made available on this site. You can learn more about these meetings here: </p>
    <p><iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=v2%3A2PACX-1vQ5CGkOEgagR1uqQ83MGmbEHHsAY5yAiJRmriIkrv1S8_9EDrUO0xvpBgdwd4M5DNLJ4KP5J5i_c2wE&font=Default&lang=en&initial_zoom=2&width=100%25&height=650' width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe></p>
    <p>You can also explore the varied writings produced by the WLCB, which we have collected into a <a href="https://wlcb.github.io/archive/browse.html">"Virtual Library"</a> meant to recreate the now-lost library that was carefully maintained by the Club throughout its existence. These publications included novels, children's books, poems, histories, scholarly research, newspaper journalism, jokes, and plays.</p>
    
    {% include index/carousel.html title="More than 1,000 publications . . ." height="300" %}

    <p>We encourage researchers to make use of the data available at this site to learn more about how women read, wrote, and shared ideas during a transformative era in U.S. history.</p>

  {% include index/data-download.html %}

    <p>This project was made possible through the generous support of the Center for the Humanities at Loyola University Maryland, the Maryland Center for History and Culture, Loyola-Notre Dame Library, Loyola's Office of Research and Sponsored Programs, and the West Virginia Humanities Council.</p>

  </div>
</div>
